#####
# exclude all tmp directories
o/
tmp/
tmp2/
tmp3/


##############
#  exclude all token-i(mage) directories
token-i/


##################
# do NOT check in dev/test enviroment variables in .env (dot env files)
.env

